.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}


.font-bold{
    font-weight: bold;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px ;
}

.text-blue{
    color: orangered);
}

.btn{
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    background-color: orangered;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}